# Import Data

In [28]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

random_state = 3

In [25]:
NN_data = pd.read_csv("Data/NNData.csv")
NN_data

,Index,DT,Energy,Jan,Feb,Mar,Apr,May,Jun,Jul,...,BankHols,RetailHols,WkBeforeXMas,WkAfterXMas,Trend2010,AvgDB,LagDB,Lag2DB,AvgWind,AvgClouds
0,0,1/1/17,242.69,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,7.00,46.77,36.66,36.72,5.24,4.39
1,1,1/2/17,257.06,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,7.01,45.10,46.77,36.66,5.66,8.00
2,2,1/3/17,265.35,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,7.01,45.37,45.10,46.77,5.63,7.75
3,3,1/4/17,253.79,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,7.01,48.87,45.37,45.10,8.61,3.71
4,4,1/5/17,305.91,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,7.01,34.49,48.87,45.37,3.84,6.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1090,12/27/19,262.49,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,9.99,47.83,43.47,39.38,2.08,3.76
1091,1091,12/28/19,238.96,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,9.99,51.19,47.83,43.47,1.76,1.86
1092,1092,12/29/19,240.27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,9.99,53.24,51.19,47.83,3.33,7.78
1093,1093,12/30/19,235.10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,10.00,62.12,53.24,51.19,9.17,3.87
1094,1094,12/31/19,249.39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,10.00,46.98,62.12,53.24,6.15,3.45

In [30]:
X = NN_data.values[:,3:]
y = NN_data.values[:,2]
X_train_val, X_test, y_train_val, y_test = train_test_split(X, y, test_size=0.1, random_state=random_state)

# Model